.footer {
  position: relative;
  bottom: 0vh;
  width: 96%;
  height: 5rem;
  background-color: #fff;
  text-align: center;
  padding: 0 3rem;
  left: 2%;
  p {
    display: inline-block;
    @include center;
    font-size: 1.3rem;
    color: rgba(111, 111, 111, 0.5);
  }

  &__img {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    margin-right: 2rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
