* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include for-phone-only {
    font-size: 52.5%;
  }
  @include for-tablet-portrait {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: $background;
  color: $link;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    outline: 1px solid rgba(0, 0, 0, 0.2);
  }
}
