@mixin for-phone-only-sm {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media (min-width: 768px) and (max-width: 1100px) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-less {
  @media (min-width: 100px) and (max-width: 1328px) {
    @content;
  }
}

@mixin atMax538 {
  @media (max-width: 538px) {
    @content;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
