.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 120vh;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid rgba(111, 111, 111, 0.4);
  @include for-desktop-less {
    width: 7%;
  }

  @include for-phone-only {
    width: 12%;
  }

  //top

  &__top {
    position: relative;
    width: 100%;
    height: 6rem;
    padding: 1.2rem;
    border-bottom: 1px solid rgba(111, 111, 111, 0.4);
    @include for-phone-only {
      padding: 0.5rem;
    }
    @include atMax538 {
      padding: 0;
      padding-top: 0.5rem;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      margin-left: 1rem;
      display: inline-block;
      z-index: 1;
    }

    &-logo {
      @include for-desktop-less {
        max-width: 0% !important;
      }
    }

    // &-bird {
    //   max-width: 0% !important;
    //   display: inline-block;
    // @include for-desktop-less {
    //   max-width: 100% !important;
    // }
    // @include atMax538 {
    //   max-width: 80% !important;
    //   padding-right: 0.5rem;
    // }
    // }

    .toggle-bird {
      display: none;
      width: 100%;
      height: 100%;
      z-index: 9;
      @include for-desktop-less {
        display: inline-block;
      }
      img {
        z-index: 9;
        max-width: 100% !important;
        @include for-desktop-less {
          max-width: 100% !important;
        }
        @include atMax538 {
          max-width: 80% !important;
          padding-right: 0.5rem;
        }
      }
    }

    &-toggle {
      float: right;
      margin-top: 2.2%;
      max-height: 70% !important;
      @include for-desktop-less {
        display: none !important;
      }
    }
  }

  //section-part

  &__section {
    height: 100%;
    padding-bottom: 2rem;
    &__top {
      position: relative;
      height: 35%;
      &-part1 {
        background: #fff;
        height: 60%;
        position: relative;
        &__content {
          @include center;
          top: 37%;
          text-align: center;
          &-sm {
            color: rgba(111, 111, 111, 0.5);
            font-size: 1rem;
            @include for-desktop-less {
              display: none;
            }
          }
          &-position {
            h2 {
              display: inline-block;
              font-size: 1.6rem;
              font-weight: 700;
              margin-right: 1rem;
              @include for-desktop-less {
                display: none;
              }
            }

            i {
              @include for-desktop-less {
                display: none;
              }
            }

            &-sm {
              @include for-desktop-less {
                display: inline-block;
                font-size: 1.6rem;
                font-weight: 600;
              }
            }
          }
        }
      }

      &-part2 {
        position: relative;
        background: $background;
        height: 40%;
        &__img {
          display: inline-block;
          position: absolute;
          top: -50%;
          left: 50%;
          transform: translateX(-50%);
        }
        &__content {
          @include center;
          text-align: center;
          top: 55%;
          color: #222222;
          &-name {
            font-size: 1.5rem;
            font-weight: 600;
            @include for-desktop-less {
              display: none;
              &--sort {
                display: inline-block;
                font-size: 2rem;
                font-weight: 500;
              }
            }
          }

          &-email {
            font-size: 1rem;
            @include for-desktop-less {
              display: none;
            }
          }
        }
      }
    }

    &__nav {
      height: 65%;
      list-style: none;
      @include for-desktop-less {
        margin-top: 2rem;
      }
      li {
        width: 100%;
        cursor: pointer;
        a:link,
        a:visited {
          position: relative;
          display: inline-block;
          width: 85%;
          height: 5rem;
          line-height: 3;
          color: #222222;
          text-decoration: none;
          text-align: center;
          margin-top: 0.5rem;
          border-radius: 0 5rem 5rem 0;
          @include for-desktop-less {
            height: 4rem;
          }
          span {
            position: relative;
            float: left;
            left: 5.5rem;
            width: 2.5rem;
            height: 2.5rem;
            @include for-desktop-less {
              left: 1.5rem;
            }
            @include for-phone-only {
              left: 2rem;
            }
            @include atMax538 {
              left: 1rem;
            }
            img {
              max-width: 100%;
              max-height: 100%;
              z-index: 999;
              @include for-desktop-less {
                position: absolute;
                @include center;
              }
            }
          }
          p {
            font-size: 1.4rem;
            line-height: 3.5;
            @include for-desktop-less {
              display: none;
            }
          }
          i {
            position: absolute;
            line-height: 2.4;
            font-size: 2rem;
            right: 1.5rem;
            @include for-desktop-less {
              display: none;
            }
          }
        }
        a:hover,
        a:active,
        a:focus {
          font-weight: 600;
          background-color: $link;
          color: #fff !important;
          @include for-desktop-less {
            background-color: transparent;
          }
        }

        .sidebar__notification {
          width: 15%;
          text-align: center;
          display: inline-block;
          position: relative;
          @include for-desktop-less {
            display: none;
          }
        }
      }
    }
  }
}

.active {
  background-color: $link;
  color: #fff !important;
  @include for-desktop-less {
    background-color: transparent;
    span {
      @include for-desktop-less {
        background-color: $link !important;
      }
    }
  }
}

.span__for__toggle {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  z-index: 999;
  @include for-desktop-less {
    display: none;
  }
}
