.userTable {
  overflow: hidden;
  padding: 2rem;
  &__header {
    @include clearfix;
    padding-bottom: 1rem;
    &__left {
      float: left;

      @include atMax512 {
        font-size: 1.6rem;
      }
    }
    &__right {
      float: right;
      &-search {
        display: inline-block;
        margin-right: 3rem;
      }
      i {
        margin-left: 2rem;
        color: #222222;
      }
    }
  }

  &__List {
    border-collapse: separate;
    border-spacing: 0 1rem;
    th,
    tr,
    td {
      border: none !important;
      outline: none !important;
      text-align: center;
    }
    th {
      color: rgba(111, 111, 111, 0.5);
      font-weight: 400;
      font-size: 1rem;
    }

    td {
      font-size: 1.3rem;
      color: rgba(111, 111, 111, 0.8);
      font-weight: 400;
      line-height: 5;
      @include atMax512 {
        line-height: 2;
        font-size: 1.2rem;
      }
    }

    &__headers {
      th {
        i {
          display: inline-block;
          margin-left: 2rem;
        }
      }
    }

    &__body {
      background-color: #fff;
      line-height: 4;
      margin-top: 2rem !important;
      &-img {
        position: relative;
        top: 1.5rem;
        height: 4rem !important;
        width: 4rem;
        margin-right: 1rem;
        display: inline-block;
        border-radius: 50%;
        background-image: url("../../assets/user/man.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @include atMax512 {
          display: none;
        }
      }

      &-action {
        i {
          margin-left: 2rem;
          font-size: 2rem;
          cursor: pointer;
          @include atMax512 {
            margin-left: 1rem;
            font-size: 1.2rem;
          }
          @include atMax406 {
            display: block;
            margin-top: 1rem;
          }
        }
      }

      &-active {
        box-shadow: 0.5px 0px 3px $link;
      }
    }
  }
}

//imported css

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control-search {
  &:active,
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
    display: inline-block;
    border-bottom: 1px solid rgba(111, 111, 111, 0.5);
  }
}
