.full-body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(#ffff, 0.9);
  z-index: 89999;
  top: 0;
  left: 0;
}

.center {
  @include center;
}

.mt-md {
  display: inline-block !important;
  margin-top: 5rem !important;
}

.mt-sm {
  display: inline-block;
  margin-top: 1rem;
}
.mt-lg {
  margin-top: 10rem;
}

.hide {
  display: none;
  text-indent: -99999999999999999999999999;
}
.clearFix::after {
  content: "";
  clear: both;
  display: table;
}

.badge-primary {
  font-weight: 700;
  background: $link;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
}
.fa-active {
  color: $link !important;
}
